@import "tailwindcss";

@theme {
  --color-accent: #FF8C00;
  --color-bg: #1E1E1E;
  --color-surface: #242424;
  --color-border: #2E2E2E;
  --color-text-primary: #F5F5F5;
  --color-text-muted: #D0D0D0;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Poppins", sans-serif;
  --font-logo: "Orbitron", sans-serif;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-body);
}

html {
  scroll-behavior: smooth;
}